@font-face {
    font-family: 'Englebert';
    src:  url('../fonts/Englebert-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Regular.ttf') format('truetype')
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0c1d10;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.pixelCon {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.pixel {
  background: white;
  width: 10%;
  padding-top: 10%;
  float: left;
  opacity: 0.0;
  animation: blink 5s infinite;
}
::selection {
    background: white;
    color: #0c1d10;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  min-height: 100vh;
  color: white;
}
#form, .img {
  z-index: 1;
  margin: 10px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales par défaut */
  max-width: 768px;
}
.image-grid img {
  width: 100%;
  height: auto;
  display: block;
}
.output {
  opacity: 0;
  animation: fadeIn 3s cubic-bezier(0,.44,.06,.07) forwards;
}
.img {
  border: solid 2px white;
  border-radius: 1px;
  padding: 5px;
  color: black;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}
.user-text {
  font-family: "Englebert", sans-serif;
  font-size: 1.5em;
  max-width: 512px;
  margin-bottom: 20px;
}
.user-text p {
    line-height: 34px;
}
.options-box {
  display: flex;
  justify-content: space-between;
  border-top: dashed 1px white;
  border-bottom: dashed 1px white;
  margin-bottom: 20px;
  padding: 15px;
}
fieldset {
  border: none;
}
legend {
  font-size: 1.5em;
}
input {
  transition: 0.2s all linear;
}
.input-box {
  display: flex;
  justify-content: space-evenly;
}
.input {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #0c1d10;
  border: solid 3px white;
  width: 75%;
}
.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 3px yellow;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

@keyframes blink {
  0%    {opacity: 0.0;}
  25%   {opacity: 0.0;}
  50%   {opacity: 0.06;}
  100%  {opacity: 0.0;}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1280px) {
.image-grid {
  max-width: 512px;
}
}

@media (max-width: 920px) {
  main {
    flex-direction: column;
  }
  .img, .output {
    max-width: 512px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
  .img, .output {
    border: none;
    box-shadow: none;
  }
  .button {
    box-shadow: none;
  }
}


/*@font-face {
    font-family: 'Englebert';
    src:  url('../fonts/Englebert-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Regular.ttf') format('truetype')
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0c1d10;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.pixelCon {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.pixel {
  background: white;
  width: 10%;
  padding-top: 10%;
  float: left;
  opacity: 0.0;
  animation: blink 5s infinite;
}
::selection {
    background: white;
    color: #0c1d10;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  min-height: 100vh;
  color: white;
}
#form, .img {
  z-index: 1;
  margin: 25px;
}
.img, #output {
  max-width: 512px;
}
#output {
  opacity: 0;
  animation: fadeIn 3s cubic-bezier(0,.44,.06,.07) forwards;
}
.img {
  border: solid 2px white;
  border-radius: 1px;
  padding: 5px;
  color: black;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}
.user-text {
  font-family: "Englebert", sans-serif;
  font-size: 1.5em;
  max-width: 512px;
  margin-bottom: 20px;
}
.user-text p {
    line-height: 34px;
}
.options-box {
  display: flex;
  justify-content: space-between;
  border-top: dashed 1px white;
  border-bottom: dashed 1px white;
  margin-bottom: 20px;
  padding: 15px;
}
fieldset {
  border: none;
}
legend {
  font-size: 1.5em;
}
input {
  transition: 0.2s all linear;
}
.input-box {
  display: flex;
  justify-content: space-evenly;
}
.input {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #0c1d10;
  border: solid 3px white;
  width: 75%;
}
.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 3px yellow;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

@keyframes blink {
  0%    {opacity: 0.0;}
  25%   {opacity: 0.0;}
  50%   {opacity: 0.06;}
  100%  {opacity: 0.0;}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 920px) {
  main {
    flex-direction: column;
  }
  .img, #output {
    max-width: 512px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .img, #output {
    max-width: 90%;
    border: none;
    box-shadow: none;
  }
  .button {
    box-shadow: none;
  }
}*/
