<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="#0c1d10" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#0c1d10" media="(prefers-color-scheme: dark)">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="shortcut icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='favicon.ico.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dall-e</title>
</head>
<body>
    <div class="sidePanel">
        <div class="pixelCon">
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
            <div class="pixel"></div>
        </div>
    </div>
    <main>
        <form id="form" method="POST">
            <div class="user-text">
                <p>"{{ user_input }}"</p>
            </div>

            <div class="options-box">
                <fieldset>
                    <legend>Ratio</legend>
                    <div>
                        <input type="radio" id="square" name="user_ratio" value="1024x1024" checked>
                        <label for="square">Square 1:1</label>
                    </div>
                    <div>
                        <input type="radio" id="landscape" name="user_ratio" value="1792x1024" disabled>
                        <label for="landscape">Landscape 16:9</label>
                    </div>
                    <div>
                        <input type="radio" id="portrait" name="user_ratio" value="1024x1792" disabled>
                        <label for="portrait">Portrait 9:16</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Quality</legend>
                    <div>
                        <input type="radio" id="standard" name="user_quality" value="standard" checked>
                        <label for="standard">Standard</label>
                    </div>
                    <div>
                        <input type="radio" id="hd" name="user_quality" value="hd" disabled>
                        <label for="hd">HD</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Style</legend>
                    <div>
                        <input type="radio" id="vivid" name="user_style" value="vivid" checked>
                        <label for="vivid">Vivid</label>
                    </div>
                    <div>
                        <input type="radio" id="natural" name="user_style" value="natural" disabled>
                        <label for="natural">Natural</label>
                    </div>
                </fieldset>
            </div>

            <div class="input-box">
                <input id="Input" class="input" type="text" name="user_input" placeholder="Prompt... (max. 4000)" maxlength="4000" required>
                <button id="submit-button" class="button" type="submit">Generate</button>
            </div>
        </form>
        <div class="image-grid">
            <a class="img" href="{{ url_for('uploaded_file', filename=image_path_1) }}" download="output_1.png">
                <img src="{{ url_for('uploaded_file', filename=image_path_1) }}" id="output_1" class="output" alt="Image 1 generated by AI">
            </a>
            <a class="img" href="{{ url_for('uploaded_file', filename=image_path_2) }}" download="output_2.png">
                <img src="{{ url_for('uploaded_file', filename=image_path_2) }}" id="output_2" class="output" alt="Image 2 generated by AI">
            </a>
            <a class="img" href="{{ url_for('uploaded_file', filename=image_path_3) }}" download="output_3.png">
                <img src="{{ url_for('uploaded_file', filename=image_path_3) }}" id="output_3" class="output" alt="Image 3 generated by AI">
            </a>
            <a class="img" href="{{ url_for('uploaded_file', filename=image_path_4) }}" download="output_4.png">
                <img src="{{ url_for('uploaded_file', filename=image_path_4) }}" id="output_4" class="output" alt="Image 4 generated by AI">
            </a>
        </div>
        <!-- <a class="img" href="{{ url_for('uploaded_file', filename=image_path) }}" download="output.png">
            <img src="{{ url_for('uploaded_file', filename=image_path_1) }}" id="output" alt="Image generated by AI">
        </a> -->
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
